<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>gxr.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>gxr.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>gxr.servlet.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckeDoctorsServlet</servlet-name>
    <servlet-class>gxr.servlet.CheckeDoctorsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckDoctorsServlet</servlet-name>
    <servlet-class>gxr.servlet.CheckDoctorsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>doctor.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PreRegisterServlet</servlet-name>
    <servlet-class>gxr.servlet.PreRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDoctorInfo</servlet-name>
    <servlet-class>gxr.servlet.GetDoctorInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>gxr.servlet.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>gxr.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerRegiste</servlet-name>
    <servlet-class>gxr.servlet.ManagerRegiste</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ScanRegistersServlet</servlet-name>
    <servlet-class>gxr.servlet.ScanRegistersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCaseServlet</servlet-name>
    <servlet-class>gxr.servlet.GetCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCaseServlet</servlet-name>
    <servlet-class>gxr.servlet.AddCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>gxr.servlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRegisteServlet</servlet-name>
    <servlet-class>gxr.servlet.GetRegisteServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckDoctorsServlet</servlet-name>
    <url-pattern>/CheckDoctorsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreRegisterServlet</servlet-name>
    <url-pattern>/PreRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDoctorInfo</servlet-name>
    <url-pattern>/GetDoctorInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerRegiste</servlet-name>
    <url-pattern>/ManagerRegiste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScanRegistersServlet</servlet-name>
    <url-pattern>/ScanRegistersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCaseServlet</servlet-name>
    <url-pattern>/GetCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCaseServlet</servlet-name>
    <url-pattern>/AddCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRegisteServlet</servlet-name>
    <url-pattern>/GetRegisteServlet</url-pattern>
  </servlet-mapping>

 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
